<div class="container">
  <div class="row">
    <div *ngFor="let sensor of sensors; let s_index = index;" 
    class="col-sm-12 col-md-6 col-lg-3 col-xl-3 mb-3">
      <div class="card" >
        <div class="card-header" [ngClass]="{'bg-success': sensor.status, 'bg-danger': !sensor.status}">
          <h5>{{sensor.id}}</h5>
        </div>
        <div class="card-body">
          <p> {{sensor.name}} </p>
          <button class="btn btn-primary" (click)="onDeleteSensor(s_index)">Удалить</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <input type="text" class="form-control" placeholder="Имя" [(ngModel)]="newTitle">
    </div>
    <div class="col">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" [(ngModel)]="newStatus">
        <label class="form-check-label" for="defaultCheck1">
         Онлайн
        </label>
      </div>
    </div>
   <button class="btn btn-primary" (click)="onAddSensor()">Добавить</button>
  </div>
</div>